{% extends "base.html" %}

{% block content %}

<a hidden id="table">user_history</a>


<div class="col-md-10 content">
  <div class="page-title-outer">
    <div class="page-title-inner">
      <h1>Добавление кинотеатра</h1>
    </div>
  </div>
  
  <div class="form-outer">
    <div class="form-title">
      Добавить кинотеатр
    </div>
    <form action="../app/includes/add_item.php" method="POST">
      <input type="hidden" value="theaters" name="table">
      <div class="form-item">
        <label for="title">Название</label>
        <input class="form-inner" type="text" name="title" value="" required=""/>
      </div>
      <div class="form-item">
        <label for="categories">Адрес</label>
        <input class="form-inner" type="text" name="address" value="" required=""/>
      </div>
      <div class="form-item">
        <label for="age">Контактный номер</label>
        <input class="form-inner" type="text" name="contact_number" value="" required="" pattern="8[0-9]{10}" />
      </div>

      <button id="valid" class="button-form" type="submit">Добавить</button>
    </form>
  </div>
  
</div>


{% endblock %}

{% block js %}



<!-- Validation -->

<script src="js/validation.js"></script>




</script>

{% endblock %}
