{% extends "display.html" %}

{% block inner %}

<div class="table-outer">
  <table id="editableTable" class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Кинотеатр</th>
        <th>Номер зала</th>
        <th>Вместительность</th>                      
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
      <tr id="{{ item.id }}">
        <td>{{ item.id }}</td>
        <td>{{ theaters[item.theater_id] }}</td>
        <td>{{ item.number }}</td>
        <td>{{ item.capacity }}</td>                        
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>

{% endblock %}
