{% extends "display.html" %}

{% block inner %}

<div class="table-outer">
  <table id="editableTable" class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>id пользователя</th>
        <th>Событие</th>
        <th>Время</th>                        
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
      <tr id="{{ item.id }}">
        <td>{{ item.id }}</td>
        <td>{{ item.user_id }}</td>
        <td>{{ item.event }}</td>
        <td>{{ item.happened_at }}</td>                         
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
