{% extends "display.html" %}

{% block inner %}


<div class="table-outer">
  <table id="editableTable" class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Название</th>
        <th>Возраст</th>
        <th>Актёры</th>
        <th>Постер</th>
        <th>Категория</th>
        <th>Дата релиза</th>                          
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
      <tr id="{{ item.id }}">
        <td>{{ item.id }}</td>
        <td>{{ item.title }}</td>
        <td>{{ item.age }}</td>
        <td>{{ item.cast }}</td>
        <td>{{ item.poster }}</td>
        <td>{{ item.categories }}</td>
        <td>{{ item.release_date }}</td>                               
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
