{% extends "display.html" %}

{% block inner %}


<div class="table-outer">
  <table id="editableTable" class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Фильм</th>
        <th>id Зала</th>
        <th>Время показа</th>    
        <th>Цена</th>
        <th>Свободные места</th>                    
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
      <tr id="{{ item.id }}">
        <td>{{ item.id }}</td>
        <td>{{ movies[item.movie_id] }}</td>
        <td>{{ item.hall_id }}</td>
        <td>{{ item.showtime }}</td>   
        <td>{{ item.charge }}</td>
        <td>{{ item.free_space }}</td>                        
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
